#header {
  width:100%;
  height: 120px;
  background-color: lightgray;
  padding: 20px;
}
#blue-box {
  height: 100px;
  width: 100px;
  background-color: lightblue;
}

#white-background {
  height: 200px;
  width: 100%;

}

#blue {
  background-color: lightblue;
  height: 150px;
  width: 100%;
}

#teal {
  background-color: teal;
  height: 150px;
  width: 100%;
}

#light-green {
  background-color: lightgreen;
  height: 150px;
  width: 100%;
}

#yellow {
  background-color: yellow;
  height: 150px;
  width: 100%;
}